@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Transition Configuration */
* {
    transition-property: color,background-color;
    transition-duration: 200ms;
    /* Uniform duration for both */
    transition-timing-function: ease-in-out;
    /* Smooth easing */
}